
.wrapper{

  height: auto;
}

.container {
  display: flex;
}
.image {

  position: relative;
  
}

.image img{

  object-fit: cover;
  height:50%;
   width:100%;
}

.detailed{

  height: 70%;
  width: 70%;
  position: absolute;
  background-color: #fff;
  bottom: -2%;
  right: 20%;
  padding: 20px;
}

.detailed h2{

  margin: 30px;
  font-size: 25px;
  font-family: "Roboto";
}

.detailed span{
  margin: 0px 30px;
  display: inline;
  
  align-items: center;
  font-family: "Roboto";
}

.reminder button{

  margin: 30px;
  padding: 10px;
  border: none;
  background-color: #f42155;
  color: #fff;
  font-weight: 900;
  font-size: 18px;
}

.bottom_detail{

  text-align: left;

}

.icons{
  font-size: 30px;
  color: #f42155;
  margin-right: 20px;
}

.media{

  
}

.schedule{

  width: 70%;
  cursor: pointer;
}

.media h2{

  font-family: "Roboto";
  margin-bottom: 20px;
  color: #444;
}