.container {
  height: 100px;
  font-weight: 900;
  position: sticky;
  top: 0;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to left, #401a29, #8a3758);
  color: whitesmoke;
}

.logo {
  font-size: 40px;
  font-weight: 900;
  font-family: "Roboto";
  color: whitesmoke;
  flex: 1;
}

.menu {
  display: flex;
  flex: 2;
}

.menu span {
  margin-right: 10%;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.menu span:hover {
  border-bottom: 3px solid #f42155;
}

.auth {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login {
  margin-right: 10%;
  cursor: pointer;
}
.register {
  cursor: pointer;
  background-color: #f9649d;
  padding: 10px;
  color: white;
  font-weight: 900;
  font-size: 20px;
}
